
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen&display=swap');
.zeyada-regular {
  font-family: "Zeyada", cursive;
  font-weight: 400;
  font-style: normal;
}
.nova-mono-regular {
  font-family: "Nova Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
}
.Projects {
  /* background-color: rgb(0, 0, 0); */
  z-index: 7;
  /* min-height: 100vh; */
  position: relative;
}
.Contact {
  /* background-color: blue; */
  z-index: 7;
  /* min-height: 100vh; */
  position: relative;
}
.Terminal {
  /* background-color: blue; */
  z-index: 7;
  /* min-height: 100vh; */
  position: relative;
  /* background-color: #000000; */
}
.name{
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: monospace; */
}
.background {
  scroll-behavior: smooth;
 /* position: fixed; /* Fix the background */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  /* background: url('your-image1.jpg') no-repeat center center; */
  background-size: cover; /* Cover the entire viewport */
  /* z-index: -1; Place behind all sections */
}
html, body {
  margin: 0; /* Remove default margin */
  height: 100%; /* Ensure body takes full height */
  background-color: black;
  /* background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%); */

  
}
html {
  scroll-behavior: smooth; /* Smooth scrolling */
}

body {
  margin: 0; /* Remove default body margin */
  overflow: hidden;
    /* overscroll-behavior: contain; Prevent elastic scroll effect */
}

section {
  scroll-snap-align: start; /* Snap to the start of each section */
  height: 100vh; /* Ensure each section takes full viewport height */
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.app-container {
  scroll-snap-type: y mandatory; /* Enable snap points in the y direction */
   height: 100vh; /* Container takes full viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Enable snap points */
  background-color: #282c34;
  overscroll-behavior: contain; /* Prevent elastic scroll effect */
  scroll-behavior:smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.about .project{
  z-index: 4;
}
section {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  display: flex; /* Optional: use flexbox for centering content */
  justify-content: center; /* Optional: center content horizontally */
  align-items: center; /* Optional: center content vertically */
 /* background-color: #282c34; /*Example background color
  /* backdrop-filter: blur(1px); */
  /* background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%); */

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
