/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
  } */
  
  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
    z-index:5;
    
  }
  
  .star {
    /* --star-color: var(--primary-color); */
    --star-color: rgb(2, 214, 214);

    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 5.68em;
    --top-offset: 2.96vh;
    --fall-duration: 7.438s;
    --fall-delay: 4.236s;
  }
  .star:nth-child(2) {
    --star-tail-length: 7.44em;
    --top-offset: 83.22vh;
    --fall-duration: 7.093s;
    --fall-delay: 2.709s;
  }
  .star:nth-child(3) {
    --star-tail-length: 6.41em;
    --top-offset: 60.69vh;
    --fall-duration: 11.272s;
    --fall-delay: 0.477s;
  }
  .star:nth-child(4) {
    --star-tail-length: 6.5em;
    --top-offset: 71.67vh;
    --fall-duration: 6.287s;
    --fall-delay: 2.561s;
  }
  .star:nth-child(5) {
    --star-tail-length: 6.26em;
    --top-offset: 64.66vh;
    --fall-duration: 10.349s;
    --fall-delay: 1.084s;
  }
  .star:nth-child(6) {
    --star-tail-length: 5.34em;
    --top-offset: 53.42vh;
    --fall-duration: 8.2s;
    --fall-delay: 7.993s;
  }
  .star:nth-child(7) {
    --star-tail-length: 6.92em;
    --top-offset: 57.9vh;
    --fall-duration: 6.392s;
    --fall-delay: 2.557s;
  }
  .star:nth-child(8) {
    --star-tail-length: 5.52em;
    --top-offset: 66.87vh;
    --fall-duration: 10.509s;
    --fall-delay: 4.446s;
  }
  .star:nth-child(9) {
    --star-tail-length: 5.16em;
    --top-offset: 19.99vh;
    --fall-duration: 8.369s;
    --fall-delay: 4.413s;
  }
  .star:nth-child(10) {
    --star-tail-length: 7.49em;
    --top-offset: 55.46vh;
    --fall-duration: 7.372s;
    --fall-delay: 1.201s;
  }
  .star:nth-child(11) {
    --star-tail-length: 6.96em;
    --top-offset: 51.8vh;
    --fall-duration: 7.13s;
    --fall-delay: 9.815s;
  }
  .star:nth-child(12) {
    --star-tail-length: 5.65em;
    --top-offset: 10.61vh;
    --fall-duration: 9.481s;
    --fall-delay: 4.663s;
  }
  .star:nth-child(13) {
    --star-tail-length: 6.74em;
    --top-offset: 13.38vh;
    --fall-duration: 7.137s;
    --fall-delay: 8.914s;
  }
  .star:nth-child(14) {
    --star-tail-length: 7.33em;
    --top-offset: 73.73vh;
    --fall-duration: 9.067s;
    --fall-delay: 8.118s;
  }
  .star:nth-child(15) {
    --star-tail-length: 6.88em;
    --top-offset: 78.05vh;
    --fall-duration: 9.658s;
    --fall-delay: 8.22s;
  }
  .star:nth-child(16) {
    --star-tail-length: 5.21em;
    --top-offset: 9.53vh;
    --fall-duration: 11.999s;
    --fall-delay: 1.605s;
  }
  .star:nth-child(17) {
    --star-tail-length: 6.92em;
    --top-offset: 69.07vh;
    --fall-duration: 8.416s;
    --fall-delay: 3.337s;
  }
  .star:nth-child(18) {
    --star-tail-length: 5.09em;
    --top-offset: 34.24vh;
    --fall-duration: 7.983s;
    --fall-delay: 3.35s;
  }
  .star:nth-child(19) {
    --star-tail-length: 6.81em;
    --top-offset: 80.45vh;
    --fall-duration: 11.523s;
    --fall-delay: 6.309s;
  }
  .star:nth-child(20) {
    --star-tail-length: 5.94em;
    --top-offset: 60.23vh;
    --fall-duration: 7.757s;
    --fall-delay: 9.811s;
  }
  .star:nth-child(21) {
    --star-tail-length: 6.91em;
    --top-offset: 7.96vh;
    --fall-duration: 9.084s;
    --fall-delay: 0.826s;
  }
  .star:nth-child(22) {
    --star-tail-length: 6.29em;
    --top-offset: 80.41vh;
    --fall-duration: 10.04s;
    --fall-delay: 4.263s;
  }
  .star:nth-child(23) {
    --star-tail-length: 5.08em;
    --top-offset: 11.71vh;
    --fall-duration: 6.873s;
    --fall-delay: 8.619s;
  }
  .star:nth-child(24) {
    --star-tail-length: 5.69em;
    --top-offset: 72.92vh;
    --fall-duration: 10.951s;
    --fall-delay: 9.458s;
  }
  .star:nth-child(25) {
    --star-tail-length: 7.47em;
    --top-offset: 97.65vh;
    --fall-duration: 6.079s;
    --fall-delay: 8.763s;
  }
  .star:nth-child(26) {
    --star-tail-length: 6.44em;
    --top-offset: 61.71vh;
    --fall-duration: 6.46s;
    --fall-delay: 0.131s;
  }
  .star:nth-child(27) {
    --star-tail-length: 5.58em;
    --top-offset: 47.61vh;
    --fall-duration: 7.171s;
    --fall-delay: 2.764s;
  }
  .star:nth-child(28) {
    --star-tail-length: 7em;
    --top-offset: 89.86vh;
    --fall-duration: 9.942s;
    --fall-delay: 0.598s;
  }
  .star:nth-child(29) {
    --star-tail-length: 7.45em;
    --top-offset: 20.77vh;
    --fall-duration: 6.217s;
    --fall-delay: 1.664s;
  }
  .star:nth-child(30) {
    --star-tail-length: 6.68em;
    --top-offset: 36.43vh;
    --fall-duration: 6.622s;
    --fall-delay: 8.533s;
  }
  .star:nth-child(31) {
    --star-tail-length: 5.46em;
    --top-offset: 95.18vh;
    --fall-duration: 9.345s;
    --fall-delay: 6.472s;
  }
  .star:nth-child(32) {
    --star-tail-length: 5.75em;
    --top-offset: 45.93vh;
    --fall-duration: 7.481s;
    --fall-delay: 0.366s;
  }
  .star:nth-child(33) {
    --star-tail-length: 5.5em;
    --top-offset: 35.08vh;
    --fall-duration: 9.868s;
    --fall-delay: 2.364s;
  }
  .star:nth-child(34) {
    --star-tail-length: 6.83em;
    --top-offset: 9.95vh;
    --fall-duration: 6.453s;
    --fall-delay: 5.351s;
  }
  .star:nth-child(35) {
    --star-tail-length: 7.08em;
    --top-offset: 58.5vh;
    --fall-duration: 7.309s;
    --fall-delay: 1.064s;
  }
  .star:nth-child(36) {
    --star-tail-length: 7em;
    --top-offset: 54.03vh;
    --fall-duration: 8.004s;
    --fall-delay: 5.278s;
  }
  .star:nth-child(37) {
    --star-tail-length: 5.98em;
    --top-offset: 76.57vh;
    --fall-duration: 7.433s;
    --fall-delay: 0.556s;
  }
  .star:nth-child(38) {
    --star-tail-length: 5.89em;
    --top-offset: 97.56vh;
    --fall-duration: 8.226s;
    --fall-delay: 8.292s;
  }
  .star:nth-child(39) {
    --star-tail-length: 5.7em;
    --top-offset: 88.12vh;
    --fall-duration: 7.3s;
    --fall-delay: 6.697s;
  }
  .star:nth-child(40) {
    --star-tail-length: 6.34em;
    --top-offset: 43.12vh;
    --fall-duration: 7.52s;
    --fall-delay: 0.79s;
  }
  .star:nth-child(41) {
    --star-tail-length: 6.93em;
    --top-offset: 76.52vh;
    --fall-duration: 6.103s;
    --fall-delay: 2.18s;
  }
  .star:nth-child(42) {
    --star-tail-length: 6.4em;
    --top-offset: 6.75vh;
    --fall-duration: 9.769s;
    --fall-delay: 9.166s;
  }
  .star:nth-child(43) {
    --star-tail-length: 6.14em;
    --top-offset: 47.72vh;
    --fall-duration: 7.765s;
    --fall-delay: 1.484s;
  }
  .star:nth-child(44) {
    --star-tail-length: 6.73em;
    --top-offset: 17.78vh;
    --fall-duration: 6.701s;
    --fall-delay: 0.469s;
  }
  .star:nth-child(45) {
    --star-tail-length: 6.85em;
    --top-offset: 5.81vh;
    --fall-duration: 10.619s;
    --fall-delay: 5.313s;
  }
  .star:nth-child(46) {
    --star-tail-length: 6.28em;
    --top-offset: 9.91vh;
    --fall-duration: 7.016s;
    --fall-delay: 8.99s;
  }
  .star:nth-child(47) {
    --star-tail-length: 5.21em;
    --top-offset: 97vh;
    --fall-duration: 8.372s;
    --fall-delay: 8.447s;
  }
  .star:nth-child(48) {
    --star-tail-length: 5.78em;
    --top-offset: 98.93vh;
    --fall-duration: 11.025s;
    --fall-delay: 8.169s;
  }
  .star:nth-child(49) {
    --star-tail-length: 6.57em;
    --top-offset: 31.59vh;
    --fall-duration: 9.237s;
    --fall-delay: 9.579s;
  }
  .star:nth-child(50) {
    --star-tail-length: 5.52em;
    --top-offset: 66.94vh;
    --fall-duration: 7.416s;
    --fall-delay: 0.268s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }